@page "/spa-CEC-Blazor-Examples-WASM"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CEC.Blazor.Examples.WASM</title>
    <base href="/CEC-Blazor-Examples-WASM/" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/cec.blazor.css" rel="stylesheet" />
    <link href="/CEC.Blazor.styles.css" rel="stylesheet" />
</head>

<body>
    <div id="app">Loading...</div>

    <script src="/CEC-Blazor-Examples-WASM/_framework/blazor.webassembly.js"></script>
</body>

</html>