@page "/mongrel"
@model MongrelModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mongrel</h1>
    <h4 class="text-secondary">A classic Razor MVC Site, hosting multiple Blazor Server and Blazor WASM SPA's.</h4>
    <p>While this may appear to be a Blazor site, it isn't.  It's just the standard AspNetCore Razor Pages template Site, skinned using the out-of-the-box Blazor UI.</p>
    <div>
        <a href="/red" class="btn btn-danger"> WASM Red</a>
        <a href="/purple" class="btn btn-purple"> WASM Purple</a>
        <a href="/grey" class="btn btn-secondary"> Server Grey</a>
        <a href="/blue" class="btn btn-primary"> Server Blue</a>
    </div>
</div>
