@using System.Net.Http
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using Microsoft.JSInterop
@using CEC.Blazor.Examples.Client
@using CEC.Blazor.Examples.Client.Components

@namespace CEC.Blazor.Examples.Components
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu MenuTitle="Examples Server Site" />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
