@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mongrel</h1>
    <h4 class="text-secondary">A classic Razor MVC Site, hosting multiple Blazor Server and Blazor WASM SPA's.</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a href="/red" class="btn btn-danger"> WASM Red</a>
        <a href="/purple" class="btn btn-dark"> WASM Purple</a>
        <a href="/grey" class="btn btn-secondary"> Server Grey</a>
        <a href="/blue" class="btn btn-primary"> Server Blue</a>
    </div>
</div>
