<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@SpaSiteData.MenuTitle</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>/ Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Razor MVC Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/red/index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Red Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/purple/index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Purple Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/grey/index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Grey Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/blue" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Blue Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@{this.GetSiteURL("counter")}" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@{this.GetSiteURL("fetchdata")}" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/grey/fetchdata" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grey Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/red/fetchdata" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Red Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/purple/fetchdata" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Purple Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/blue?View=Mongrel.Server.Blue.Components.Views.FetchDataView" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blue Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    [CascadingParameter] SPASiteData SpaSiteData { get; set; } = new SPASiteData();

    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
        => collapseNavMenu = !collapseNavMenu;

    private string GetSiteURL(string routeurl)
        => string.IsNullOrEmpty(this.SpaSiteData.SiteUrlSegment) ? routeurl : $"{this.SpaSiteData.SiteUrlSegment.TrimEnd('/')}/{routeurl.TrimStart('/')}";

}
