<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CEC.Blazor</title>
    <base href="~/" />
    <link href="/css/site.css" rel="stylesheet" />
</head>

<body>
    <div class="page">

        <div class="sidebar">
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="">CEC.Blazor</a>
            </div>

            <div class="main">
                <ul class="nav flex-column">

                    <li class="nav-item px-3">
                        <a class="nav-link" href="">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="/routing">
                            <span class="oi oi-home" aria-hidden="true"></span> CEC.Routing
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="/examplesserver">
                            <span class="oi oi-home" aria-hidden="true"></span> CEC.Blazor.Examples
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="/Mongrel">
                            <span class="oi oi-home" aria-hidden="true"></span> Mongrel
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="https://github.com/ShaunCurtis/CEC.Blazor.Examples">
                            <span class="oi oi-fork" aria-hidden="true"></span> Github Repo
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
