@namespace CEC.Blazor.Examples.Components

@inherits ViewBase

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container bg-light p-2 border">
    <h3>View Locking with <strong>ViewManager</strong></h3>
    <div class="alert @alertcss m-4">
        This view is @buttonStatus
    </div>
    <div>
        <p>Try this link when the View is Locked - <a href="https://github.com/ShaunCurtis/CEC.Blazor.Examples">Link to the Github Repo</a>. </p>
    </div>
    <div class="container text-right p-2">
        <button type="button" class="btn @buttoncss" @onclick="(e => this.SwitchLock())">@buttonLabel</button>
    </div>
</div>

<div class="container bg-light mt-3 p-2 border">
    <h3>Modal Dialogs</h3>
    <p>Click on "Fetch Data as a Dialog" and you can view the Fetch Data page in a Modal Dialog.  If you don't have a button, use the "X" button in the top right corner to exit it.</p>
    <p>Click on "Counter as a Dialog" and you can view the Fetch Data page in a Modal Dialog.  There's a exit button that only apperas if Counter is opened as a dialog.</p>
    <p>The "Are You Sure Dialog" opens a dialog and "locks" exit from the application.</p>
    <div class="container text-right p-2">
        <button type="button" class="btn btn-info" @onclick="(e => this.CounterDialog())">Counter as a Dialog</button>
        <button type="button" class="btn btn-dark" @onclick="(e => this.FetchDataDialog())">Fetch Data as a Dialog</button>
        <button type="button" class="btn btn-primary" @onclick="(e => this.AreYouSureAsync())">Are You Sure Dialog</button>
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
