
@inherits Component

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor.Examples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <UIViewLink class="nav-link" ViewType="typeof(CEC.Blazor.Examples.Components.Index)">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </UIViewLink>
        </li>
        <li class="nav-item px-3">
            <UIViewLink class="nav-link" ViewType="typeof(CEC.Blazor.Examples.Components.Counter)">
                <span class="oi oi-cloudy" aria-hidden="true"></span> Counter
            </UIViewLink>
        </li>
        <li class="nav-item px-3">
            <UIViewLink class="nav-link" ViewType="typeof(CEC.Blazor.Examples.Components.FetchData)">
                <span class="oi oi-cloudy" aria-hidden="true"></span> Fetch Data
            </UIViewLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
