@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hydra.</h1>
    <h4 class="text-secondary">A classic Razor MVC Site, hosting multiple Blazor Server and Blazor WASM SPA's.</h4>
    <p>While this may appear to be a Blazor site, it isn't.  It's just the standard AspNetCore Razor Pages template Site, skinned using the out-of-the-box Blazor UI.</p>
    <div>
        <a href="/routing" class="btn btn-primary">CEC.Router Site</a>
    </div>
</div>
