@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hydra.</h1>
    <h4 class="text-secondary">A classic Razor MVC Site, hosting multiple Blazor Server and Blazor WASM SPA's.</h4>
    <p>While this may appear to be a Blazor site, it isn't.  It's just the standard AspNetCore Razor Pages template Site, skinned using the out-of-the-box Blazor UI.</p>
    <div class="p-4 bg-light text-left">
        <p>
            If you've arrived here by a link or other means and are wondering what's this, it's my Demo Site for various articles and Github Repos.  The site is a standard Razor AspNetCore site with the Blazor services and Blazor Hub loaded.  There's no actual "Blazor Site" in root. 
        </p>
        <p>
            The links on the left load various Blazor SPAs and sub sites.  There's both Blazor Server and WASM SPAs.  That's why it's called Hydra.
            If you're intrigued then go to the Github Repo - link bottom left.  There are a set of articles and links elsewhere to show you how it works. Alternatively search for "Blazor Hydra", for various links to articles and Repos.
        </p>
    </div>
    <div>
        <a href="/routing" class="btn btn-primary">CEC.Router Site</a>
    </div>
</div>
