@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

@inherits Component

@namespace CEC.Blazor.Examples.Client.Components

<div class="container">
    <div class="p-3">
        @((MarkupString)this.Message)
    </div>
    <div class="container text-right p-2">
        <button type="button" class="btn btn-danger" @onclick="(e => this.Close(true))">Exit</button>
        <button type="button" class="btn btn-success" @onclick="(e => this.Close(false))">Cancel</button>
    </div>
</div>

